/branches/
/LivroMaster/
trunk/c/**
/trunk/python/
trunk/latex/*aux

*.jar

*.class

LivroMaster

*.pdf

*.idx

trunk/latex/snarf-python (cópia).py

c/

cpp/

java/

tags/

Transparências/Testes/

trunk/latex/figs-python/doc_data.txt

trunk/latex/figs/doc_data.txt
