*-java.tex
*-python.tex
*-cpp.tex
*-html.tex
ods-java*
ods-cpp*
ods-python*
images/bigoh-1.tex
images/bigoh-2.tex
*.aux
*.log
*.synctex.gz
/.gitignore
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.out
*.pdf
